#barDiv {
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
  padding: 0.5rem 1rem;
  box-shadow: 0px -55px 15px 60px rgba(0,0,0,0.1);
  /* position: sticky; */
}

#titleDiv {
  font-size: 2rem;
}

#userDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}