#backgroundDiv {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#backgroundDiv.noInitialTransition {
  transition: none;
}

#backgroundDiv.visible {
  pointer-events: auto;
  opacity: 1;
}

#contentDiv {
  position: fixed;
  left: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 300;
  cursor: default;
  /* Animation setup */
  top: 100%;
  transform: translate(-50%, 100%);
  transition: all 0.3s ease;
}

#backgroundDiv.visible #contentDiv {
  top: 50%;
  transform: translate(-50%, -50%);
}
