#containerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#titleDiv {
  font-size: 2rem;
}

#alertDiv {
  color: red;
  font-size: 1rem;
  margin-top: 0.5rem;
}

